div.about {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
div.about > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 45%;
}
div.about div.text p {
	margin-bottom: 16px; 
}
div.about div.image img {
	width: 100%;
	border: 10px solid white;
	border-radius: 100%;
	box-shadow: 0 0 30px #888888;
}

ul.list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}
ul.list li.item {
	display: flex;
	padding: 10px 0;
}
ul.list li.item > div { display: flex; }
ul.list li.item > div.icon {
	display: flex;
	padding: 12px 20px 12px 0;
}
ul.list li.item > div.icon i { font-size: 42px; }
ul.list li.item > div.text {
	display: flex;
	flex-direction: column;
}

div.stack div.container.right ul.list li.item {
	justify-content: right;
	flex-direction: row-reverse;
}
div.stack div.container.right ul.list li.item div.icon { padding: 12px 0 12px 20px; }

div.degrees, div.awards { width: 50%; }

@keyframes uni-circle {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}

div.container#education-container div.university-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 50%;
}

div.container#education-container div.university-logo > img {
	position: absolute;
	width: 90%;
}

div.container#education-container div.university-logo > img.circle { animation: uni-circle 60s infinite linear reverse; }
div.container#education-container div.university-logo > img.coat { width: 37%; }

div.container#education-container div.panel div.content { flex-flow: row; }
div.container#awards-container div.panel div.content { flex-flow: row; }

@media screen and (max-width: 624px) {
	div.about { flex-direction: column; }
	div.about > div { width: 100%; }
	div.about > div.image { margin-bottom: 30px; }

	div.degrees, div.awards { width: 100%; }
	div.container#education-container div.university-logo {
		display: none;
	}
}