div.about {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
div.about > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 45%;
}
div.about div.image img {
	width: 100%;
	background: var(--white);
	border-radius: 10px;
}
div.about div.text {
}