@keyframes name {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	70% { transform: translateX(+50px); }
	100% {
		transform: translate(0);
		opacity: 1;
	}
}

@keyframes image {
	0% {
		transform: rotate(-50deg) scale(0.5);
		opacity: 0;
	}
	100% {
		transform: rotate(0deg) scale(1);
		opacity: 1;
	}
}

.hide { display: none; }

header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.intro {
	display: flex;
	flex-flow: row wrap;
}
div.intro div.left { width: 30%; }
div.intro div.right {
	position: relative;
	display: flex;
	width: 65%;
	padding-left: 5%;
}
div.intro div.image { position: relative; }
div.intro div.image:hover img {
	transform: translateY(-30px) rotate(-10deg);
	box-shadow: 0 0 50px #969798;
}
div.intro div.image:hover img:last-child { transform: translateY(-30px); }
div.intro div.image img {
	position: absolute;
	width: 100%;
	border: 8px solid #FFF;
	border-radius: 100%;
	box-shadow: 0 0 50px #C6C7C8;
	animation: image 0.5s ease-in-out;
	transition: 0.25s all;
}
div.intro div.image img:last-child { position: relative; }

div.intro div.text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
div.intro div.text h1 {
	font-size: 96px;
	line-height: 90px;
	animation: name 0.5s ease-in-out;
	cursor: default;
}
div.intro div.menu {
	width: 100%
}
div.intro div.menu ul { list-style-type: none; }
div.intro div.menu ul a { text-decoration: none; }
div.intro div.menu ul li {
	display: inline;
	padding: 8px 16px;
	text-transform: uppercase;
	color: black;
	text-align: center;
	transition: 0.25s all;
}
div.intro div.menu ul li:hover {
	color: #069;
	border-bottom: 1px solid #069;
	letter-spacing: 4px;
}

div.social div.social-links {
	padding: 30px 0;
	text-align: center;
}
div.social div.social-links i {
	color: #000000;
	font-size: 32px;
	margin: 0 16px;
	transition: 0.2s all;
}
div.social div.social-links i:hover {
	color: #069;
	transform: scale(1.5);
}

div.cards#projects > a { width: 32%; }

ul#contact-info { list-style-type: none; }
ul#contact-info a { text-decoration: none; color: #000000; }
ul#contact-info li {
	font-size: 16px;
	line-height: 24px;
	padding: 5px 0;
}
ul#contact-info li i {
	padding-right: 10px;
}

div.academy {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	padding: 0;
}
div.academy div.left { width: 55%; }
div.academy div.right {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
}

div.academy div.slides h1 { font-weight: normal; }
div.academy div.slides img {
	width: 100%;
	border-radius: 10px;
}

div.degrees {
	display: flex;
	flex-flow: column;
	width: 100%;
}

div.degrees div.degree {
	display: flex;
	flex-flow: row-reverse wrap;
	padding: 24px 0;
	border-bottom: 1px dashed #C6C7C8;
	text-align: right;
}
div.degrees div.degree:last-child {
	border-bottom: none;
}
div.degrees div.degree div.logo { padding: 10px 10px 10px 20px; }
div.degrees div.degree div.logo i {
	font-size: 44px;
	transition: 0.25s all;
}
div.degrees div.degree:hover div.logo i {
	transform: translateY(-10px) rotate(-20deg) scale(1.2);
}

div.about-me { text-align: center; }
div.about-me div.picture { padding: 10px; }
div.about-me div.picture img {
	width: 200px;
	border: 2px solid #FFFFFF;
	border-radius: 100%;
	margin-bottom: 10px;
}
div.about-me div.picture span {
	font-size: 22px;
	letter-spacing: 4px;
}
div.about-me div.text p {
	text-shadow: 1px 0 0px var(--black);
}

@media screen and (max-width: 624px) {
	div.intro {
		width: 90%;
		padding: 0 5%;
	}
	div.intro div.left, div.intro div.right {
		width: 100%;
		padding: 0;	
	}
	div.intro div.image { padding-bottom: 5%; }
	div.intro div.image img { border: none; }
	div.intro div.text { position: relative; }
	div.intro div.text h1 {
		text-align: center;
		font-size: 32px;
		line-height: normal;
	}
	div.intro div.text h3 { text-align: center; }

	div.cards#projects > a { width: 100%; }

	div.academy { flex-direction: column-reverse; }
	div.academy div.left { width: 100%; }
	div.academy div.right { margin-bottom: 30px; width: 100%; }

	div.degrees {
		position: relative;
		top: 0;
		transform: translateY(0);
	}

	div.degrees div.degree > div {
		width: 100%;
		text-align: center;
	}
}