@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Bold.ttf');
	font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
	font-family: Raleway;
}

:root {
	--black: #000000;
	--white: #FFFFFF;
	--gray: #E6E7E8;
	--dark-gray: #E0E1E2;
	--blue: #006699;
	--c: var(--white);
	--d: var(--white);
}

/* CLASSES AND ELEMENTS */

p { line-height: 24px; }

a.button {
	padding: 8px 16px;
	text-decoration: none;
	color: var(--c);
	transition: 0.25s all;
	border-bottom: 1px solid var(--c);
}
a.button:hover {
	color: var(--d);
	letter-spacing: 4px;
	border-bottom: 1px solid var(--d);
}

div.wrapper {
	width: 70%;
	padding: 0 15%;
}

div.box {
	width: 90%;
	background: #FFFFFF;
	padding: 5%;
	border-radius: 10px;
}

div.half {
	width: 40%;
}

div.panel { 
	width: 100%;
}
div.panel div.title {
	width: 100%;
	padding: 0 0 2% 0;
}
div.panel div.title > span {
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 10px;
}
div.panel div.title > span:only-of-type,
div.panel div.title > span:last-child {
	font-size: 48px;
	font-weight: normal;
	letter-spacing: 10px;
}
div.panel div.more {
	width: 100%;
	padding: 30px 0;
	text-align: center;
}
div.cards {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
div.cards a {
	text-decoration: none;
	color: #000000;
}
div.cards div.card {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	border-radius: 10px;
	overflow: hidden;
}
div.cards div.card div.thumb {
	width: 100%;
	height: 0px;
	padding-bottom: 56.25%;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}
div.cards div.card div.thumb img {
	width: 100%;
	transition: 0.25s all;
}
div.cards div.card:hover div.thumb img { transform: scale(1.2); }
div.cards div.card div.text {
	width: 80%;
	padding: 10%;
}

/* PAGE */

body {
	background-color: #E6E7E8;
	overflow-x: hidden;
}

nav.navigation {
	width: 100%;
	background-color: var(--dark-gray);
	padding: 30px 0;
}
nav.navigation div.menu { width: 100%; }
nav.navigation div.menu ul { list-style-type: none; }
nav.navigation div.menu ul a { text-decoration: none; }
nav.navigation div.menu ul a:first-of-type { font-weight: bold; }
nav.navigation div.menu ul li {
	display: inline-block;
	padding: 8px 16px;
	text-transform: uppercase;
	color: black;
	text-align: center;
	transition: 0.25s all;
	border-bottom: 1px solid transparent;
}
nav.navigation div.menu ul li:hover {
	color: var(--blue);
	border-bottom: 1px solid var(--blue);
	letter-spacing: 2px;
}

header.title { padding: 100px 0; }
header.title h1 {
	font-size: 96px;
	line-height: 80px;
}

div.stack { width: 100vw; }
div.stack div.container {
	position: relative;
	padding: 100px 0;
}
div.stack div.container.light p, div.stack div.container.light span { color: white; }
div.stack div.container.float {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	padding: 0;
}
div.stack div.container > div.holder {
	width: 100%;
	z-index: 1;
}
div.stack div.container > i.background {
	position: absolute;
	font-size: 80vh;
	color: var(--dark-gray);
	top: 10vh;
	right: -10vw;
	z-index: 0;
}
div.stack div.container > img.background {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	left: 0;
	filter: blur(8px);
	z-index: 0;
	transform: scale(1.1);
}
div.stack div.container.right i.background { left: -10vw; }
div.stack div.container.right div.panel > div.title { text-align: right; }
div.stack div.container.right div.cards > a { margin-left: auto; }
div.stack div.container.center div.panel > div.title { text-align: center; }

footer {
	width: 100%;
	padding: 100px 0 200px 0;
}
footer div.bottom { width: 100%; }
footer div.bottom > div { text-align: center; }

/* RESPONSIVE SUPPORT */

@media screen and (max-width: 1200px) and (min-width: 624px) {
	div.wrapper {
		width: 90%;
		padding: 0 5%;
	}

	header.title h1 { font-size: 64px; }
}

@media screen and (max-width: 624px) {
	div.half {
		width: 80%;
		padding: 10%;
	}

	div.wrapper {
		width: 100%;
		padding: 0 0;
	}

	div.panel {
		width: 90%;
		padding: 0 5%;
	}
	div.panel div.title {
		padding-bottom: 30px;
		text-align: center;
	}
	div.panel div.title > span:only-of-type,
	div.panel div.title > span:last-child { font-size: 24px; }
	div.stack div.container.right div.panel > div.title { text-align: center; }

	div.stack div.container.float {
		height: auto;
		padding: 50px 0;
	}
	div.stack div.container > div.holder {
		position: relative;
		transform: translateY(0);
		top: 0;
	}
	div.stack div.container i.background { display: none }

	div.cards a { margin-bottom: 16px; }

	nav.navigation div.menu ul { text-align: center; }

	header { text-align: center; }
	header.title h1 {
		font-size: 32px;
		line-height: 30px;
	}
}