@keyframes name {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	70% { transform: translateX(+50px); }
	100% {
		transform: translate(0);
		opacity: 1;
	}
}

@keyframes image {
	0% {
		transform: rotate(-45deg) scale(0.5);
		opacity: 0;
	}
	100% {
		transform: rotate(0deg) scale(1);
		opacity: 1;
	}
}

.hide { display: none; }

div.intro { display: flex; }
div.intro div.left {
	width: 30%;
}
div.intro div.right {
	position: relative;
	display: flex;
	flex-flow: column;
	width: 65%;
	padding-left: 5%;
}
div.intro div.image img {
	width: 100%;
	border: 8px solid #FFF;
	border-radius: 100%;
	box-shadow: 0 0 50px #D6D7D8;
	animation: image 0.5s ease-in-out;
}
div.intro div.text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
div.intro div.text h1 {
	font-size: 96px;
	line-height: 90px;
	animation: name 0.5s ease-in-out;
}
div.intro div.menu {
	width: 100%
}
div.intro div.menu ul { list-style-type: none; }
div.intro div.menu ul a { text-decoration: none; }
div.intro div.menu ul li {
	display: inline;
	padding: 8px 16px;
	text-transform: uppercase;
	color: black;
	text-align: center;
	transition: 0.25s all;
}
div.intro div.menu ul li:hover {
	color: #069;
	border-bottom: 1px solid #069;
	letter-spacing: 4px;
}

div.social div.social-links { text-align: center; }
div.social div.social-links i {
	color: #000000;
	font-size: 32px;
	margin: 0 16px;
	transition: 0.2s all;
}
div.social div.social-links i:hover {
	color: #069;
	transform: scale(1.2);
}